{% extends 'base.html' %}

{% load static %}

{% block contents %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'img/default.jpg' %}" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ book.title }}</h1>
                    <div class="fs-5 mb-5">
                        <span class="fst-italic fw-light">{{ book.author }}</span>
                    </div>
                    <p class="lead">{{ book.summary }}</p>
                    <a class='btn btn-outline-dark' href="{% url "books:book_rent" book.id %}">Rental</a>
                </div>
            </div>
        </div>
    </section>
{% endblock contents %}